html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffe5d9;
  margin-bottom: 15px;

  padding: 10px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #dbfbdb;
  padding: 10px;
  min-height: 280px;
  flex: 1 1 220px;
  min-width: 190px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e2eafc;
  padding: 20px;
  flex: 3 1 520px;
  min-width: 260px;

}

section {
  display: flex;
  flex-direction: column;
  flex: 1 1 260px;
  background-color: #c1d3fe;
  padding: 15px;
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #e0ffff;
  padding: 10px;
  width: 100%;
}

aside {
  background-color: #fffacd;
  padding: 20px;
  flex: 1 1 220px;
  min-width: 220px;
}

footer {
  background-color: #fbd6d2;
  padding: 10px;
}

.challenge-tasks li::marker {
  font-weight: bold;
}

.challenge-tasks li[data]::marker {
  content: '\26A0';
  background: white;
  opacity: 0.01;
  font-size: 0;
}